In [1]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt
import seaborn as sns

plt.style.use('ggplot')
pd.set_option('display.max_columns', 200)

In [2]:
dfel=pd.read_csv("eligibilty_test.csv")

In [3]:
dfel.columns
# df.shape

Index(['id', 'nct_id', 'sampling_method', 'gender', 'minimum_age',
       'maximum_age', 'healthy_volunteers', 'population', 'criteria',
       'gender_description', 'gender_based', 'adult', 'child', 'older_adult'],
      dtype='object')

In [5]:
dfel.dtypes

id                     int64
nct_id                object
sampling_method       object
gender                object
minimum_age           object
maximum_age           object
healthy_volunteers    object
population            object
criteria              object
gender_description    object
gender_based          object
adult                 object
child                 object
older_adult           object
dtype: object

In [6]:
dfel.describe()

                 id
count  5.000000e+02
mean   6.195466e+06
std    7.444846e+04
min    5.955908e+06
25%    6.159126e+06
50%    6.159250e+06
75%    6.260155e+06
max    6.361043e+06

In [7]:
dfel.isna().sum()

id                      0
nct_id                  0
sampling_method       394
gender                  0
minimum_age            33
maximum_age           222
healthy_volunteers     11
population            394
criteria                0
gender_description    489
gender_based          475
adult                   0
child                   0
older_adult             0
dtype: int64

In [8]:
dfel.head()

,id,nct_id,sampling_method,gender,minimum_age,maximum_age,healthy_volunteers,population,criteria,gender_description,gender_based,adult,child,older_adult
0,6260055,NCT05050916,NaN,FEMALE,19 Years,40 Years,f,NaN,* INCLUSION CRITERIA:~In order to be eligible ...,NaN,NaN,t,f,f
1,6260056,NCT01092156,NaN,FEMALE,18 Years,NaN,t,NaN,Inclusion Criteria:~* Pregnant women who inten...,NaN,NaN,t,f,t
2,6260057,NCT01218256,NaN,ALL,30 Years,80 Years,f,NaN,Inclusion Criteria:~* type 2 diabetes mellitus...,NaN,NaN,t,f,t
3,6260058,NCT03240432,NaN,ALL,60 Years,NaN,t,NaN,Inclusion Criteria:~To be eligible for the stu...,NaN,NaN,t,f,t
4,6260059,NCT04348578,NaN,ALL,18 Years,65 Years,t,NaN,"Inclusion Criteria:~* necrotic, single root te...",NaN,NaN,t,f,t

In [9]:
dfel.loc[df.duplicated()]

Empty DataFrame
Columns: [id, nct_id, sampling_method, gender, minimum_age, maximum_age, healthy_volunteers, population, criteria, gender_description, gender_based, adult, child, older_adult]
Index: []

In [21]:
df=pd.read_csv("usecase1_test.csv")

In [22]:
df.columns

Index(['NCT Number', 'Study Title', 'Study URL', 'Acronym', 'Study Status',
       'Brief Summary', 'Study Results', 'Conditions', 'Interventions',
       'Primary Outcome Measures', 'Secondary Outcome Measures',
       'Other Outcome Measures', 'Sponsor', 'Collaborators', 'Sex', 'Age',
       'Phases', 'Enrollment', 'Funder Type', 'Study Type', 'Study Design',
       'Other IDs', 'Start Date', 'Primary Completion Date', 'Completion Date',
       'First Posted', 'Results First Posted', 'Last Update Posted',
       'Locations', 'Study Documents'],
      dtype='object')

In [23]:
df.drop(columns=['Study URL','Acronym','Study Results','Sponsor','Collaborators','Enrollment','Funder Type','Locations','Study Documents','Start Date','Primary Completion Date','Completion Date','First Posted','Results First Posted','Last Update Posted'],inplace=True)

In [24]:
df.columns

Index(['NCT Number', 'Study Title', 'Study Status', 'Brief Summary',
       'Conditions', 'Interventions', 'Primary Outcome Measures',
       'Secondary Outcome Measures', 'Other Outcome Measures', 'Sex', 'Age',
       'Phases', 'Study Type', 'Study Design', 'Other IDs'],
      dtype='object')

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 15 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   NCT Number                  500 non-null    object
 1   Study Title                 500 non-null    object
 2   Study Status                500 non-null    object
 3   Brief Summary               500 non-null    object
 4   Conditions                  500 non-null    object
 5   Interventions               471 non-null    object
 6   Primary Outcome Measures    490 non-null    object
 7   Secondary Outcome Measures  403 non-null    object
 8   Other Outcome Measures      38 non-null     object
 9   Sex                         499 non-null    object
 10  Age                         500 non-null    object
 11  Phases                      342 non-null    object
 12  Study Type                  500 non-null    object
 13  Study Design                497 non-null    object
 14  Other IDs                   500 non-null    object
dtypes: object(15)
memory usage: 58.7+ KB

In [25]:
df.dtypes

NCT Number                    object
Study Title                   object
Study Status                  object
Brief Summary                 object
Conditions                    object
Interventions                 object
Primary Outcome Measures      object
Secondary Outcome Measures    object
Other Outcome Measures        object
Sex                           object
Age                           object
Phases                        object
Study Type                    object
Study Design                  object
Other IDs                     object
dtype: object

In [ ]:
df['Secondary Measure']=

In [24]:
# df.describe(include='all')

In [27]:
df.isna().sum()

NCT Number                      0
Study Title                     0
Study Status                    0
Brief Summary                   0
Conditions                      0
Interventions                  29
Primary Outcome Measures       10
Secondary Outcome Measures     97
Other Outcome Measures        462
Sex                             1
Age                             0
Phases                        158
Study Type                      0
Study Design                    3
Other IDs                       0
dtype: int64

In [28]:
# df["Study Status"].describe()
df["Study Status"].value_counts()

Study Status
COMPLETED                 339
RECRUITING                 46
TERMINATED                 36
UNKNOWN                    26
WITHDRAWN                  19
ACTIVE_NOT_RECRUITING      19
NOT_YET_RECRUITING         12
APPROVED_FOR_MARKETING      2
NO_LONGER_AVAILABLE         1
Name: count, dtype: int64

In [29]:
# print(df['Sex'].value_counts())
# print(df['Age'].value_counts())

In [30]:
# df["Phases"].describe()
df["Phases"].value_counts()

Phases
PHASE1           109
PHASE3           100
PHASE2            78
PHASE1|PHASE2     24
PHASE4            21
PHASE2|PHASE3      8
EARLY_PHASE1       2
Name: count, dtype: int64

In [31]:
# df["Enrollment"].describe()
df["Study Design"].value_counts()

Study Design
Observational Model: |Time Perspective: p                                                                                                                                  75
Allocation: NA|Intervention Model: SINGLE_GROUP|Masking: NONE|Primary Purpose: TREATMENT                                                                                   73
Allocation: RANDOMIZED|Intervention Model: PARALLEL|Masking: QUADRUPLE (PARTICIPANT, CARE_PROVIDER, INVESTIGATOR, OUTCOMES_ASSESSOR)|Primary Purpose: TREATMENT            47
Allocation: RANDOMIZED|Intervention Model: PARALLEL|Masking: NONE|Primary Purpose: TREATMENT                                                                               39
Allocation: RANDOMIZED|Intervention Model: PARALLEL|Masking: DOUBLE (PARTICIPANT, INVESTIGATOR)|Primary Purpose: TREATMENT                                                 37
                                                                                                                                                                           ..
Allocation: RANDOMIZED|Intervention Model: SEQUENTIAL|Masking: QUADRUPLE (PARTICIPANT, CARE_PROVIDER, INVESTIGATOR, OUTCOMES_ASSESSOR)|Primary Purpose: PREVENTION          1
Allocation: RANDOMIZED|Intervention Model: CROSSOVER|Masking: |Primary Purpose: TREATMENT                                                                                   1
Allocation: RANDOMIZED|Intervention Model: SINGLE_GROUP|Masking: SINGLE|Primary Purpose: TREATMENT                                                                          1
Allocation: RANDOMIZED|Intervention Model: SINGLE_GROUP|Masking: QUADRUPLE (PARTICIPANT, CARE_PROVIDER, INVESTIGATOR, OUTCOMES_ASSESSOR)|Primary Purpose: BASIC_SCIENCE     1
Allocation: NON_RANDOMIZED|Intervention Model: SINGLE_GROUP|Masking: NONE|Primary Purpose:                                                                                  1
Name: count, Length: 87, dtype: int64