In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("usecase_1_.csv")

In [4]:
sample_data = ("sample_data.csv")

In [5]:
df.iloc[:100].to_csv(sample_data, index=False)

In [6]:
df.columns

Index(['Unnamed: 0.1', 'Unnamed: 0', 'NCT Number', 'Study Title', 'Study URL',
       'Acronym', 'Study Status', 'Brief Summary', 'Study Results',
       'Conditions', 'Interventions', 'Primary Outcome Measures',
       'Secondary Outcome Measures', 'Other Outcome Measures', 'Sponsor',
       'Collaborators', 'Sex', 'Age', 'Phases', 'Enrollment', 'Funder Type',
       'Study Type', 'Study Design', 'Other IDs', 'Start Date',
       'Primary Completion Date', 'Completion Date', 'First Posted',
       'Results First Posted', 'Last Update Posted', 'Locations',
       'Study Documents'],
      dtype='object')

In [7]:
# correlationMatrix = df.corr(numeric_only=True)

In [8]:
import seaborn as sns
import matplotlib.pyplot as plt

In [9]:
# fig, ax = plt.subplots(figsize=(4, 8))
# sns.heatmap(correlationMatrix,cmap='coolwarm', annot=True, vmax=0.25, vmin=-0.25)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 117980 entries, 0 to 117979
Data columns (total 32 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   Unnamed: 0.1                117980 non-null  int64
 1   Unnamed: 0                  117980 non-null  int64
 2   NCT Number                  117980 non-null  object
 3   Study Title                 117980 non-null  object
 4   Study URL                   117980 non-null  object
 5   Acronym                     24116 non-null   object
 6   Study Status                117980 non-null  object
 7   Brief Summary               117980 non-null  object
 8   Study Results               117980 non-null  object
 9   Conditions                  117950 non-null  object
 10  Interventions               112324 non-null  object
 11  Primary Outcome Measures    114903 non-null  object
 12  Secondary Outcome Measures  93200 non-null   object
 13  Other Outcome Measures      7924 non-null    object
 14  Sponsor                     117980 non-null  object
 15  Collaborators               21366 non-null   object
 16  Sex                         117838 non-null  object
 17  Age                         117980 non-null  object
 18  Phases                      83095 non-null   object
 19  Enrollment                  116147 non-null  float64
 20  Funder Type                 117980 non-null  object
 21  Study Type                  117980 non-null  object
 22  Study Design                117328 non-null  object
 23  Other IDs                   117977 non-null  object
 24  Start Date                  116241 non-null  object
 25  Primary Completion Date     111986 non-null  object
 26  Completion Date             112654 non-null  object
 27  First Posted                117980 non-null  object
 28  Results First Posted        32055 non-null   object
 29  Last Update Posted          117980 non-null  object
 30  Locations                   105092 non-null  object
 31  Study Documents             12858 non-null   object
dtypes: float64(1), int64(2), object(29)
memory usage: 28.8+ MB

In [11]:
df.isna().sum()

Unnamed: 0.1                       0
Unnamed: 0                         0
NCT Number                         0
Study Title                        0
Study URL                          0
Acronym                        93864
Study Status                       0
Brief Summary                      0
Study Results                      0
Conditions                        30
Interventions                   5656
Primary Outcome Measures        3077
Secondary Outcome Measures     24780
Other Outcome Measures        110056
Sponsor                            0
Collaborators                  96614
Sex                              142
Age                                0
Phases                         34885
Enrollment                      1833
Funder Type                        0
Study Type                         0
Study Design                     652
Other IDs                          3
Start Date                      1739
Primary Completion Date         5994
Completion Date                 5326
First Posted                       0
Results First Posted           85925
Last Update Posted                 0
Locations                      12888
Study Documents               105122
dtype: int64

# Combining Columns

In [14]:
df[['Secondary Outcome Measures','Other Outcome Measures','Secondary Measures']]

,Secondary Outcome Measures,Other Outcome Measures,Secondary Measures
0,Area Under the Concentration-time Curve of BI ...,NaN,Area Under the Concentration-time Curve of BI ...
1,Change From Baseline in the Alzheimer's Diseas...,NaN,Change From Baseline in the Alzheimer's Diseas...
2,Endoscopist qualitative rating of the Saneso 3...,NaN,Endoscopist qualitative rating of the Saneso 3...
3,"Safety Endpoint (Rate of MACCE), Rate of MACCE...","Efficacy Endpoint, Reduction in embolic burden...","Safety Endpoint (Rate of MACCE), Rate of MACCE..."
4,NaN,NaN,
...,...,...,...
117975,Time to Exacerbation of Psychotic Symptoms/Imp...,NaN,Time to Exacerbation of Psychotic Symptoms/Imp...
117976,Number of Participants Reporting One or More T...,NaN,Number of Participants Reporting One or More T...
117977,To study the performance of the InSignia assay...,NaN,To study the performance of the InSignia assay...
117978,Change From Baseline in Neuropathic Pain Scale...,NaN,Change From Baseline in Neuropathic Pain Scale...
117979,Treatment Response as Measured by the Observer...,NaN,Treatment Response as Measured by the Observer...

In [13]:
df['Secondary Measures'] = (df['Secondary Outcome Measures'].fillna('') + ' ' + df['Other Outcome Measures'].fillna('')).str.strip()

In [15]:
import numpy as np

def combine_columns(dataframe, column1, column2):
    # Create a new column combining the two, but keeping rows as NaN if both values are NaN
    dataframe['Secondary Measures'] = dataframe.apply(
        lambda row: np.nan if pd.isna(row[column1]) and pd.isna(row[column2])
        else f"{row[column1] or ''} {row[column2] or ''}".strip(),
        axis=1
    )
    return dataframe

In [16]:
df.drop(columns=['Unnamed: 0.1','Unnamed: 0','Study URL','Acronym','Study Results','Sponsor','Collaborators','Enrollment','Funder Type','Other IDs','Start Date','Primary Completion Date','Completion Date','First Posted','Results First Posted','Last Update Posted','Locations','Study Documents'],inplace=True)

In [17]:
df.drop(columns=['Secondary Outcome Measures','Other Outcome Measures'],inplace=True)

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 117980 entries, 0 to 117979
Data columns (total 13 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   NCT Number                117980 non-null  object
 1   Study Title               117980 non-null  object
 2   Study Status              117980 non-null  object
 3   Brief Summary             117980 non-null  object
 4   Conditions                117950 non-null  object
 5   Interventions             112324 non-null  object
 6   Primary Outcome Measures  114903 non-null  object
 7   Sex                       117838 non-null  object
 8   Age                       117980 non-null  object
 9   Phases                    83095 non-null   object
 10  Study Type                117980 non-null  object
 11  Study Design              117328 non-null  object
 12  Secondary Measures        117980 non-null  object
dtypes: object(13)
memory usage: 11.7+ MB

In [19]:
df.isna().sum()

NCT Number                      0
Study Title                     0
Study Status                    0
Brief Summary                   0
Conditions                     30
Interventions                5656
Primary Outcome Measures     3077
Sex                           142
Age                             0
Phases                      34885
Study Type                      0
Study Design                  652
Secondary Measures              0
dtype: int64